@import url('globalStyle.css');

.patients-container {
    position: absolute;
    top: 0px;
    left: 300px;
}


.appointment-header {
    font-size: 20px;
    font-weight: bold;
}

.appointment-details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.appointment-details th, .appointment-details td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.appointment-details th {
    background-color: #f5f5f5;
}

.accept-btn, .reschedule-btn, .decline-btn {
    background-color: #007ACC;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 5px;
    border-radius: 3px;
}

.accept-btn:hover, .reschedule-btn:hover, .decline-btn:hover {
    background-color: #005D99;
}