@import url('globalStyle.css');

#dashboard{
    background: var(--v-light-purple);
}

.row {
    display: flex;
    flex-direction: row;
    margin-top: 2.5%;
    justify-content: space-between;
    width: 1060px;
    margin-left: 9.5rem;
}

select{
    width: 100px;
    background: white;
    font-size: 16px;
    border-radius: 5px;
    padding: 3px 5px 3px 5px;
    border: none;
    margin-left: 3px;
}


.ap-req-con-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 98%;
}

.ap-req-con-row .selection{
    display: inline-block;
}

.ap-req-con-row .selection{
    margin-top: 5px;
}

.row .confirmed-appointments-container {
    width: 740px;
    height: 269px;
    background: var(--light-purple);
    border-radius: 15px;
    
}

.row .numbers-container {
    width: 290px;
    height: 269px;
    background: var(--light-purple);
    border-radius: 15px;
}

.appointment-requests-container{
    width: 1060px;
    height: 296px;
    flex-shrink: 0;
    background: var(--light-purple);
    margin-top: 2.3rem;
    border-radius: 15px;
    /* margin-left: 9.5rem; */
}

.appointment-requests-container h3{
    padding: 7px 0px 10px 7px;
    color: var(--v-dark-purple);
    display: inline-block;
}


h3{
    font-size: 18px;
    margin-top: 1rem;
    margin-left: 1rem;;
    text-align: center;
}

/* TABLE DESIGN */
.table{
    width: 98%;
    border-collapse: collapse;
    margin-left: 10px;
    overflow-y: scroll;
}

.table-div{
    overflow: hidden;
  overflow-y: scroll;
  height: 220px; /* change this to desired height */
}


.table-container .table{
    border: 1px solid var(--dark-purple);
    border-collapse: collapse;
    border-radius: 30px;
}


thead tr th{
    width: 190px;
    text-align: center;
    font-size: 18px;
    background: var(--v-dark-purple);
    color: white;
    padding: 5px;
    border: 2px solid var(--v-dark-purple)
}

tbody tr td{
    text-align: center;
    border: 1px solid var(--dark-purple);
    background: white;
    color: var(--v-dark-purple);
    padding: 5px;

}

/* Add these styles to create column lines */
.table-container .table td {
    border: 1px solid var(--v-dark-purple);
    padding: 10px;
    text-align: center;
    font-size: var(--small-font);
    background: white;
}

.table-container .table th{
    color: white;
    background: var(--dark-purple);
    padding: 10px;
    text-align: center;
    font-size: var(--small-font);
}

.table-container .table td button{
    padding: 7px 12px 7px 12px;
    border-radius: 10px;
    border: none;
    background: #FF6099;
    color: white;
    font-size: var(--small-font);
}

.table-container .table td button:hover{
    background: #FF1F47;
    cursor: pointer;
}

.table-container .table td button:active{
    background: var(--pink);
}

/* .dashboard-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    margin-left: 3rem;
} */

.action{
    display: flex; flex-direction: row; justify-content: space-between;
}

.button{
    padding: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;

    margin-left: 6px;
}

#cancel{
    background: #FF6099;
    color: white;
}

#accept{
    background: #90F2AC;
    color: #0E6116;
}

#reschedule{
    background: #FFF27D;
    color: #531A62;
}



#cancel:hover{
    background: #d92668;
    color: white;
}



#accept:hover{
    background: #0e8730;
    color: white;
}

#reschedule:hover{
    background: #ffe628;
    color: #531A62;
}

th.fixed {
    top: 0;
    z-index: 5;
    position: sticky;
    padding: 5px;
    border: 1px solid white;
}

.numbers-container{
    text-align: center;
    padding-top: 100px;
    font-size: 25px;
    color: var(--v-dark-purple);
    font-weight: bold;
}





/* TOP BAR */

.dashboard{
    position: relative;
    left: 200px;
    background-color: var(--panel-color);
    min-height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-05);
}
nav.close ~ .dashboard{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top{
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    z-index: 10;
}
nav.close ~ .dashboard .top{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top .sidebar-toggle{
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
}

.top{
    border-bottom: 1px solid var(--border-color);
}

.top img{
    width: 40px;
    border-radius: 50%;
}



/* additional */

body{
    background: var(--v-light-purple);
  }

  /* styles the modal in the dashboard */
  .modal{
       padding: 1rem;
       top: 50%;
       left: 50%;
       translate: -50% -50%;
       background: white;
       border-radius: 0.25rem;
       z-index: 10;
   }

   .appointment-requests-container, .confirmed-appointments-container, .numbers-container, .row{
       margin: auto;
   }

   .appointment-requests-container{
       margin-top: 3rem;
   }

   #home{
       display: flex;
       flex-direction: column ;
       justify-content: center;
       align-items: center;
       margin: auto;
   }