@import url('globalStyle.css');

body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
}

.row {
    display: flex;
    flex-direction: row;
    margin-top: 8%;
    justify-content: space-between;
    width: 1235px;
}

.row .confirmed-appointments-container {
    width: 857px;
    height: 269px;
    background: var(--light-purple);
    border-radius: 15px;
}

.row .numbers-container {
    width: 315px;
    height: 269px;
    background: var(--light-purple);
    border-radius: 15px;
}

.appointment-requests-container{
    width: 1235px;
    height: 296px;
    flex-shrink: 0;
    background: var(--light-purple);
    margin-top: 2.3rem;
    border-radius: 15px;
}

.appointment-requests-container h3{
    padding: 15px 15px;
    color: var(--v-dark-purple);
    border: 1px solid black;
    display: inline-block;
}

/* TABLE DESIGN */
.table-container .table{
    border: 1px solid var(--dark-purple);
    border-collapse: collapse;
    border-radius: 30px;
}

.table-container{
    margin-top: 1.7rem;
    display: flex;
    justify-content: center;
}

thead tr th{
    width: 190px;
    text-align: center;
    font-size: var(--small-font);
}

tbody tr td{
    text-align: center;

}

/* Add these styles to create column lines */
.table-container .table td {
    border: 1px solid var(--dark-purple);
    padding: 10px;
    text-align: center;
    font-size: var(--small-font);
    background: white;
}

.table-container .table th{
    color: white;
    background: var(--dark-purple);
    padding: 10px;
    text-align: center;
    font-size: var(--small-font);
}

.table-container .table td button{
    padding: 7px 12px 7px 12px;
    border-radius: 10px;
    border: none;
    background: #FF6099;
    color: white;
    font-size: var(--small-font);
}

.table-container .table td button:hover{
    background: #FF1F47;
    cursor: pointer;
}

.table-container .table td button:active{
    background: var(--pink);
}

