*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

:root{
  --white: #ffff;
  --v-light-purple: #F4EFFB;
  --light-purple: #D4BEEF;
  --v-dark-purple: #531A62;
  --dark-purple: #8752CA;
  --small-font: 18px;
  --big-font: 65px;
  --medium-large-font: 26px;
  --medium-font: 20px;
  --medium-large-font: 40px;
  --h2-font: 3rem;
  --pink: rgb(252, 104, 207);
  --dark-pink: #C553CF;
  --box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#dashboard{
  background: var(--v-light-purple);
}

.wrapper{
  width: 430px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}
.wrapper header{
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
  color: var(--v-dark-purple);
}
header .icons{
  display: flex;
}
header .icons span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.icons span:last-child{
  margin-right: -10px;
}
header .icons span:hover{
  background: #f2f2f2;
}
header .current-date{
  font-size: 1.45rem;
  font-weight: 500;
}
.calendar{
  padding: 20px;
}
.calendar ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar .days{
  margin-bottom: 15px;
}
.calendar li{
  color: var(--v-dark-purple);
  width: calc(100% / 7);
  font-size: 1.07rem;
}
.calendar .weeks li{
  font-weight: 500;
  cursor: default;
}
.calendar .days li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 25px;
}
.days li.inactive{
  color: #aaa;
}
.days li.active{
  color: #fff;
}
.days li::before{
  position: absolute;
  content: "";
  left: 50%;
  top: 50%; 
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.days li.active::before{
  background: #9B59B6;
}
.days li:not(.active):hover::before{
    transition: all 0.5s ease;
    background: var(--dark-purple);
    /* color: #fff; */
}

/* INPUT DATE */

#selectedDateInput {
  border: none;
  outline: none;
  background: transparent;
  width: 240px;
  font-size: 30px;
  padding: 10px; 
  color: var(--v-dark-purple);
}


/* COLLAPSE */

.collapsible {
  background-color: transparent;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
}

.content-list {
  position: relative;
  width: 500px;
  display: none;
  overflow: hidden;
}

.content-list.show {
  display: block;
}

.content-list ul {
  list-style-type: none;
  padding: 0;
}

.content-list li {
  padding: 12px;
  color: white;
  background-color: var(--dark-purple);
  transition: background-color 0.3s;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content-list li:hover {
  background-color: var(--dark-purple);
}

/* OTHER STYLE */

.calendar-container {
  position: relative;
  display: flex;
  justify-content: center;
  /* align-items: flex-start; */
  top: 70px;
  left: -25px;
}

.calendar-wrapper {
  position: relative;
}

.list-wrapper {
  position: relative;
  left: 50px;
  width: 500px;
  /* background-color: #005D99; */
}

.filter-status {
  border: none;
  font-size: 18px;
  color: var(--v-dark-purple);
  float: right;
  /* width: 100%; */
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
  border: 2px solid var(--dark-purple);
  border-radius: 8px;
  padding: 5px;
}

.row {
  display: flex;
  flex-direction: row;
  margin-bottom: 2.5%;
  justify-content: space-between;
  /* width: 100px; */
  /* margin-left: 9.5rem; */
}

body{
  background: var(--v-light-purple);
}

 .appointment-container {
     z-index: 1;
     width: 670px;
 }

.number-stats-container{
  color: var(--v-dark-purple); 
  margin-top: 2rem; 
}

.number-stats-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 500px;
  height: 170px;
  margin-left: -2.3rem;

}

.number-container{
  background: rgb(249, 249, 249);
  /* padding-top: 30px;
  padding-bottom: 30; */
  padding: 40px 20px 40px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px 0 rgba(173, 72, 172, 0.35), 0 6px 20px 0 rgba(173, 72, 172, 0.35);

}

.number-container .icon-and-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.icon-and-info i{
  font-size: 60px;
  margin-bottom: 1rem;
}

.pending{
  padding-left: 30px;
  padding-right: 30px;
  background: #FFF27D;
  color: #531A62;
}

.accepted{
  background: #90F2AC;
  color: #0E6116;
}

.cancellations{
  background: #FF6099;
  color: white;
}

.number-container #text{
  font-size: 40px;
}

.green-appointment {
  background: lightgreen;
  border-radius: 50%;
}

.red-appointment {
  background: lightcoral;
  border-radius: 50%;
}