@import url('globalStyle.css');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: var(--v-dark-purple);
    background: var(--v-light-purple);
}

.wrapper {
    width: 490px;
    background: white;
    border-radius: 10px;
    padding: 35px 50px 35px 50px;
    box-shadow: var(--box-shadow);
    display: flex; /* Add display: flex to .wrapper */
    flex-direction: column; /* Stack child elements vertically */
    align-items: center; /* Center children horizontally */
}

.wrapper .paragraphs .par{
    margin-top: 15px;
}

.rounded-check {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #08CD57;
}


.wrapper h1 {
    margin-top: 1rem;
    font-size: 25px;
    text-align: center;
}

.wrapper .par p {
    margin-top: 15px;
    font-size: var(--small-font);
    text-align: center;
}

.wrapper button {
    padding: 12px 15px 12px 15px;
    border-radius: 10px;
    border: none;
    background: var(--dark-purple);
    color: white;
    font-size: 15px;
    margin-top: 20px;
    align-self: flex-end;
    cursor: pointer;
    width: 100%;
}

.wrapper button:hover, .wrapper button:active{
    transform: scale(1.015);
    transition: all 0.5s ease;
    background: var(--pink);
}


.wrapper .button-con{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 55px;
}

.wrapper p span{
    font-weight: 700;
    color: #FF002E; 
}

.button-con{
    width: 100%;
}