@import url("globalStyle.css");

.row{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: space-between;
    height: 55px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: var(--v-dark-purple);
    background: var(--v-light-purple);
}

.wrapper{
    width: 850px;
    background: white;
    border-radius: 10px;
    padding: 35px 50px 35px 50px;
    box-shadow: var(--box-shadow);
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
}

.wrapper p{
    margin-top: 15px;
    font-size: var(--medium-font);
    text-align: center;
}

.wrapper p span{
    font-weight: 700;
    color: #0085FF; 
}

.wrapper .steps-container{
    margin-top: 35px;
}

.wrapper .steps-container .step h4{
    font-size: var(--small-font);
}

.wrapper .steps-container h3{
    color: #C3153F; 
    font-size: var(--medium-font);
}

.wrapper .steps-container .step{
    margin-top: 20px;
}

.steps-container .step .step-content{
    margin-top: 15px;
    line-height: normal; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.wrapper #cancelButton{
    background: var(--dark-purple);
}

.row .btn-okay{
    background: #90F2AC;
    color: #0E6116;
    margin-left: 5px; /* Add a margin to the left of the okay button */
}


.step .step-content h5{
    margin-top: 5px;
    font-size: 15px;
}

.row{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row .btn{
    width: 48%;
    height: 80%;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.5s ease;
    font-size: 16.5px;
}

.row #okayButton{
    background: #90F2AC;
    color: #0E6116;
}

.row #okayButton:hover{
    background:  #0E6116;
    color: white;
}

.row #cancelButton{
    background: #FF6099;
    color: white;
}

.row #cancelButton:hover{
    background: #d92668;
    color: white;
}

b{
    color: #C3153F; 
}